<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>escolhas</title>
</head>
<body>
    <a href="/autor/lst">autor</a>
    <a href="/usuario/lst">usuario</a>
    <a href="/titulo/lst">titulo</a>
    <a href="/genero/lst">genero</a>
</body>
</html>